<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Aspect Ratio Test</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")


        <div class="container">
        <section class="gallery">
            <div class="col">
            <figure style="height: 100%;object-fit:cover">
                <img data-src="http://placekitten.com/300/201" />
                <div class="with-overlay"></div>
            </figure>
            </div>
            <div class="col">
            <figure class="" data-aspect-ratio="16:9">
                <img data-src="http://placekitten.com/110/202" />
                <div class="with-overlay"></div>
            </figure>
            <figure class="" data-aspect-ratio="16:9">
                <img data-src="http://placekitten.com/300/203" />
                <div class="with-overlay"></div>
            </figure>
            </div>
        </section>
        
        <section>
            <h3>16:9 - 300x200px</h3>
            <figure class="" data-aspect-ratio="16:9">
            <img data-src="http://placekitten.com/300/200" />
            <div class="with-overlay"></div>
            </figure>
        </section>
        <section>
            <h3>9:16 - 200x300px</h3>
            <figure data-aspect-ratio="9:16">
            <img data-src="http://placekitten.com/200/300" />
            <div class="with-overlay"></div>
            </figure>
        </section>  
        
        <hr />
        
            <section>
            <h3>16:9 - 200x300px</h3>
            <figure data-aspect-ratio="16:9">
            <img data-src="http://placekitten.com/200/300" />
            <div class="with-overlay"></div>
            </figure>
        </section>
        
        <section>
            <h3>9:16 - 300x200px</h3>
            <figure data-aspect-ratio="9:16">
            <img src="http://placekitten.com/300/200" />
            <div class="with-overlay"></div>
            </figure>
        </section>  
        </div>

        @@include("../blocks/modules/footer/footer.html")
        <script src="../js/main.js"></script>
        <script src="../js/vendor.js"></script>
    </body>
</html>